name: Lint

on:
  push:
    branches:
      - main
      - '!dependabot/**'
  pull_request:
    branches:
      - '**'

env:
  FORCE_COLOR: 2
  NODE: 24

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set node version to 24
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          registry-url: https://registry.npmjs.org/
          package-manager-cache: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install deps
        run: pnpm install

      - name: Run lint
        run: pnpm run lint
