name: Tests

on:
  push:
    branches:
      - main
      - '!dependabot/**'
  pull_request:
    branches:
      - '**'

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  run:
    permissions:
      contents: read # for actions/checkout to fetch code

    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set node version to 24
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/
          package-manager-cache: false

      - name: Enable corepack
        run: corepack enable

      - name: Install deps
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Unit Tests
        run: pnpm run test:unit

      - name: Bun Tests
        run: pnpm run test:bun

      - name: E2E Tests
        run: pnpm run test:e2e
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 20
